[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
